#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#uploadBtn {
    display: none;
}

.audioSegment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.startEndDisplay {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.timeSegment{
 margin-bottom: 5px;
    margin-right: 5px;
}

.alert-success {
    color: chartreuse;
}

.alert-danger {
    color: red;
}


/*Loader Animation*/

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bullet {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    margin-left: 5px;
    border-radius: 50%;
    margin-top: calc(50px - 12.5px);
    animation: loading 0.9s infinite alternate;
}
.two {animation-delay: 0.3s;}
.three {animation-delay: 0.6s;}
@keyframes loading {
    to {
        opacity: 0.3;
        transform: translateY(-25px);
    }
}