#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#uploadBtn {
    display: none;
}

.audioSegment {
    display: flex;
    align-items: center;
    justify-content: center;
}
.startEndDisplay {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}